html {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
}

.rectangle {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    197.11deg,
    #ff1919 0%,
    #d8d7d7 50.6%,
    #dda3a3 100%
  );
}

.pageText {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Arial Black";
  letter-spacing: 0;
  font-size: 3vw;
  position: relative;
}

.rectangle > * {
  padding: 10px;
}

.rectangle:after {
  content: "";
  width: 100%;
  height: 35%;
  position: absolute;
  background: white;
  z-index: -1;
  bottom: 8%;
  transform-origin: right bottom;
  transform: skewY(-6deg);
}

.rectangle:before {
  content: "";
  width: 100%;
  float: left;
  height: 100%;
  position: absolute;
  background: #dda3a3;
  z-index: -1;
  bottom: -120%;
  transform-origin: right bottom;
  transform: skewY(24deg);
}

@media screen and (max-width: 1000px) {
  .rectangle {
    overflow-y: auto;
  }

  .rectangle:after {
    width: 0%;
    height: 0%;
  }

  .rectangle:before {
    width: 0%;
    height: 0%;
  }
}
